{% extends 'ngo/base.html' %}
{% block content %}
<br><br><br><br>
<div class="bread-crumb">
    <div class="auto-container">
        Pages  &ensp;<span class="fa fa-angle-right"></span>&ensp; <a href="#" class="ative">About Us</a>
    </div>
</div>
<section class="tabs-section">
    <div class="auto-container">
        <div class="row">

            <div class="tabs-box clearfix">

                <!--Buttons Side-->
                <div class="col-md-4 col-sm-6 col-xs-12 buttons-side">

                    <div class="sec-title">
                        <h2 class="skew-lines">Our <strong>services</strong></h2>
                    </div>
                    <!--Tab Buttons-->
                    <ul class="tab-buttons">
                        <li class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms"><a href="#tab-one" class="tab-btn active-btn clearfix"><div class="icon"><span class="flaticon-blank36"></span></div><h4>Online spending dahsboard</h4></a></li>
                        <li class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><a href="#tab-two" class="tab-btn clearfix"><div class="icon"><span class="flaticon-blank36"></span></div><h4>Worldwide charity programs</h4></a></li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms"><a href="#tab-three" class="tab-btn clearfix"><div class="icon"><span class="flaticon-blank36"></span></div><h4>Awesome volunteers</h4></a></li>
                        <li class="wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms"><a href="#tab-four" class="tab-btn clearfix"><div class="icon"><span class="flaticon-blank36"></span></div><h4>Leading volunteer groups</h4></a></li>
                        <li class="wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms"><a href="#tab-five" class="tab-btn clearfix"><div class="icon"><span class="flaticon-blank36"></span></div><h4>Charity programs for children</h4></a></li>
                    </ul>
                </div>

                <!--Content Side-->
                <div class="col-md-8 col-sm-6 col-xs-12 tabs-content clearfix">

                    <!--Tab / Active tab-->
                    <div class="tab active-tab" id="tab-one">
                        <div class="sec-title">
                            <h2>Online s<strong>pending dahsboard</strong></h2>
                        </div>
                        <div class="text">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet.</p>
                            <p>consectetuer adipiscing elit, sed diam nonummy nibh  consectetuer adipiscing elit, sed diam nonummy nibh  uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>

                        <div class="link text-right"><a href="#"><span class="fa fa-angle-right"></span> &ensp; Read More</a></div>

                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab-two">
                        <div class="sec-title">
                            <h2>Worldwide <strong>charity programs</strong></h2>
                        </div>
                        <div class="text">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet.</p>
                            <p>consectetuer adipiscing elit, sed diam nonummy nibh  uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>

                        <div class="link text-right"><a href="#"><span class="fa fa-angle-right"></span> &ensp; Read More</a></div>

                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab-three">
                        <div class="sec-title">
                            <h2>Awesome <strong>volunteers</strong></h2>
                        </div>
                        <div class="text">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet.</p>
                            <p>consectetuer adipiscing elit, sed diam nonummy nibh  consectetuer adipiscing elit, sed diam nonummy nibh  uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>

                        <div class="link text-right"><a href="#"><span class="fa fa-angle-right"></span> &ensp; Read More</a></div>

                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab-four">
                        <div class="sec-title">
                            <h2>Leading <strong>volunteer groups</strong></h2>
                        </div>
                        <div class="text">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet.</p>
                            <p>consectetuer adipiscing elit, sed diam nonummy nibh  uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>

                        <div class="link text-right"><a href="#"><span class="fa fa-angle-right"></span> &ensp; Read More</a></div>

                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab-five">
                        <div class="sec-title">
                            <h2>Charity programs for <strong>children</strong></h2>
                        </div>
                        <div class="text">
                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet.</p>
                            <p>consectetuer adipiscing elit, sed diam nonummy nibh  consectetuer adipiscing elit, sed diam nonummy nibh  uismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>

                        <div class="link text-right"><a href="#"><span class="fa fa-angle-right"></span> &ensp; Read More</a></div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}