{% extends 'ngo/base.html' %}
{% block content %}
<section class="static-banner default-banner">

    <div class="window-size" style="background-image:url(./static/images/main-slider/TALYK-355.jpg);">
        <div class="auto-container">
            <div class="box-inner">
                <div class="static-content">
                    <div class="big-title">
                        <div class="with-bg">
                            <h2>“I have found that among its other benefits,</h2>
                        </div>
                    </div>
                    <div class="text">
                        <div class="with-bg">
                            <h4>giving liberates the soul of the giver."</h4>
                        </div>
                    </div>
                    <div class="links-box"><a href="#" class="theme-btn light-btn">DONATE</a> &ensp; <a href="#"
                            class="theme-btn dark-btn">CHECK OUR PROGRAM</a></div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="tri-column-fluid">
    <div class="tri-column-outer clearfix">

        <!--Column-->
        <article class="column progress-column">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h3>How can I donate to TALKY...?</h3>
                <h4>Register as a member with a fee of KSh. 2000 per Year.</h4>
                <div class="text">Through registering as a member, you not only donate to Touch a Life Kenya Youth, but
                    also you become a part of our community to give back to the society.</div>
                <div class="text-right link"><a href="{% url 'member_register' %}" class="theme-btn btn-style-one">Register Membership</a></div>
            </div>
        </article>

        <!--Carousel Column-->
        <article class="column carousel-column" style="background-image:url(images/background/carousel-bg.jpg);">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h3>Donate Directly to our Bank Account..</h3>
                <h4>No one has ever become poor by giving</h4>
                <div class="text">We accept direct donations through our official bank Account. Commercial Bank: Pay
                    Bill 522522 A/c : 1296721582</div>
                <div class="text-right link"><a href="#" class="theme-btn btn-style-one">Make a Donation</a></div>
            </div>

        </article>

        <!--Progress Column-->
        <article class="column progress-column">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h2>Commit to Annual Giving...</h2>
                <h4 class="museo-font">Walk with us throughout the journey by commiting to annual giving open to any
                    amount of your choosing. </h4>
                <br><br>
                <div class="text-right link"><a href="#" class="theme-btn btn-style-two">Register Annual Giving</a>
                </div>
            </div>
        </article>
    </div>
</section>
<section class="two-column no-padd-bottom">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Text Column-->
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" id="About-Us">
                <div class="text-column" >
                    <div class="sec-title">
                        <h2>About  <strong>Us:</strong></h2>
                        <h2>Take part in growing <strong>the society</strong></h2>
                    </div>
                    <div class="text">
                        <p>
                            Touch a Life Kenya Youth was born from the unshakable conviction that every human being has
                            a priceless value and that
                            each human being deserves a descent life free from ignorance, poverty and disease. All
                            people of good
                            will in the world endeavor to mitigate these three evils through their charitable giving.
                            Touch a life
                            Kenya Youth does not purport to eradicate these problems from all humanity; rather, it
                            endeavors to
                            address the problem of poverty among the youth. The Organization aims to address the
                            situation that
                            has condemned the young person(s) to a life of poverty be it educational, financial, social
                            etc...
                        </p>
                    </div>
                    <br>
                    <div class="link text-right"><a href="{% url 'about' %}" class="theme-btn read-more"><span
                                class="fa fa-angle-right"></span> &ensp;Read More</a></div>
                </div>
            </div>

            <!--Video Column-->
            <div class="col-md-6 ">
                <img src="/static/images/main-slider/tkpart.jpg" alt="" style="height: 350px; ">
            </div>
        </div>
    </div>
</section>
<section class="two-column-fluid">


    <div class="clearfix">

        <article class="column content-column">
            <div class="pattern-layer"></div>

            <div class="column-inner" style="color: black;">
                <h3>Our Mission</h3>
                <div class="text">To cultivate a culture of giving to a noble cause so as to give a chance to the young
                    people whose
                    abilities are wasting away in cracks of poverty.</div>
                <h3>Our Vission</h3>
                <div class="text">To be a fertile soil in which the dreams of many young people can grow and flourish.
                </div>
            </div>
        </article>

        <article class="image-side" style="background-image:url(../static/images/background/image-random.jpg);">

        </article>

    </div>

</section>
<section class="services-section about-section" id="Services">
    <div class="auto-container">

        <div class="sec-title">
            <h2>Take a look at our services and see <strong>what we do</strong></h2>
        </div>
        <div class="sec-text">
            <p>“It’s easier to take than to give. It’s nobler to give than to take. The thrill of taking lasts a day.
                The thrill of giving lasts a lifetime. </p>
        </div>


        <div class="row clearfix">

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-diamond44"></span></div>
                    <h3 class="post-title">Economic empowerment</h3>
                    <div class="text">We will work with you to fully understand your business and your target audience
                        to inform our marketing strategy.</div>
                </div>
            </article>

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-liquid13"></span></div>
                    <h3 class="post-title">Education and training scholarships</h3>
                    <div class="text">We have the expertise to create just the right web presence for you, which will be
                        up to date to the latest web standards.</div>
                </div>
            </article>

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-pin3"></span></div>
                    <h3 class="post-title">Youth mentorship</h3>
                    <div class="text">We will work with you to fully understand your business and your target audience
                        to inform our marketing strategy.</div>
                </div>
            </article>

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-favorite7"></span></div>
                    <h3 class="post-title">Community Service and special programs</h3>
                    <div class="text">Using the outcomes from the Company Analysis, we will put together a plan for the
                        most effective to get the best results for your business.</div>
                </div>
            </article>

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-social16"></span></div>
                    <h3 class="post-title">Leadership and work training</h3>
                    <div class="text">We will work with you to fully understand your business and your target audience
                        to inform our marketing strategy.</div>
                </div>
            </article>

            <article class="col-md-4 col-sm-12 col-xs-12 post wow fadeInLeft" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="inner">
                    <div class="icon"><span class="flaticon-lightbulb14"></span></div>
                    <h3 class="post-title">Job linking</h3>
                    <div class="text">We will work with you to fully understand your business and your target audience
                        to inform our marketing strategy.</div>
                </div>
            </article>

        </div>
    </div>
</section>
<section class="parallax-section" style="background-image:url(../static/images/parallax/image-1.jpg);">
    <div class="auto-container">
        <div class="text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h2>Are you ready to volunteer?</h2>
            <h3>start one of our programm today and help people in need</h3>
            <div class="line"></div>
            <a class="theme-btn light-btn" href="#">BECOME A VOLUNTEER</a>
            <a class="theme-btn light-btn" href="#">MAKE A DONATION</a>

        </div>
    </div>
</section>
<section class="featured-project two-column">
    <div class="auto-container">

        <div class="sec-title clearfix">
            <h2 class="pull-left">ABOUT THE DIRECTOR <strong>DR. TERESA WAMBUI</strong></h2>
            <div class="pull-right link"><a href="#"><span class="fa fa-angle-right"></span>&ensp; See All</a></div>
        </div>
        <div class="row clearfix">

            <!--Image Column-->
            <div class="col-md-6">
                <figure class="image-box">
                    <a href="#"><img src="/static/images/resource/featured-image-1.jpg"
                            style="height: 500px; width: 500px;" alt="" title="Volunteer"></a>
                    <div class="icon-box"><a href="#" class="heart-icon img-circle"><span
                                class="flaticon-favorite21"></span></a></div>
                </figure>
            </div>

            <!--Text Column-->
            <div class="col-md-6">
                <div class="text-column">
                    <h3>Help to for a better education in Kenya</h3>
                    <div class="text">
                        <p>
                            Dr. Teresa Wambui is originally from Naivasha, Nakuru County. She is has been a lecturer of
                            Philosophy
                            at Chuka University for last twelve Years. After completing her Doctoral studies in Duquesne
                            University
                            in the United States she came back to Kenya driven by her urge to share her knowledge with
                            Kenyan
                            students. Dr. Wambui's academic journey is an amazing one.
                            After completing her Primary education in 1974 that was class seven then, she was unable to
                            proceed to
                            High School for lack of school fees. She went for a tailoring training, courtesy of a
                            well-wisher. It was not
                            until 1982, that is, seven years after Primary School education did she get an opportunity
                            to start her High
                            School education, courtesy of Little Sisters of St. Francis. After completion of High School
                            education she
                            got a Scholarship to study in the United States, courtesy of Marywood University. This was
                            followed by
                            two more Scholarships from Duquesne University in the USA where she studied for MA in
                            Systematic
                            Theology and Ph.D in Philosophy....
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="help-us" style="background-image:url(../static/images/main-slider/image-3.jpg);">
    <div class="auto-container">
        <h2><u>Our Objectives</u></h2>
        <div class="row clearfix">

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-favorite7"></span></div>
                    <h3>A United Country</h3>
                    <p>To demonstrate that as a country we have what it takes to transform lives of our youth</p>
                </div>
            </article>

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-donation2"></span></div>
                    <h3>Eradicate Poverty</h3>
                    <p>Reversing the downward spiral of poverty among the youths.</p>
                </div>
            </article>
        </div>

        <div class="row clearfix">
            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-hand-1"></span></div>
                    <h3>Empowering Youth</h3>
                    <p>To empower the youth for a better tomorrow.
                    </p>
                </div>
            </article>

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="900ms"
                data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-lightbulb14"></span></div>
                    <h3>Growing Dreams</h3>
                    <p>To grow the dreams of many young people so that they in turn can transform others</p>
                </div>
            </article>

        </div>
    </div>
</section>

<section class="four-column team-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Our Organisation <strong>Members</strong></h2>
        </div>

        <div class="row clearfix">

            <!--Team Member-->
            <div class="col-md-3 col-sm-6 col-xs-12 column team-member">
                <article class="column-inner hvr-float-shadow">
                    <figure class="image-box">
                        <a href="#"><img src="/static/images/resource/TALYK-142.jpg"  alt=""
                                title="Volunteer"></a>

                    </figure>
                    <!-- <div class="lower-part">
                        <h3>Kimutai Cornelius</h3>
                        <div class="info">
                            <p>Secretary</p>
                            <p><span class="icon flaticon-letter110"></span> <strong>E-Mail</strong> : <a
                                    href="mailto:johndoe@email.com">johndoe@email.com</a></p>
                        </div>
                        <div class="social-links">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div> -->
                </article>
            </div>

            <!--Team Member-->
            <div class="col-md-3 col-sm-6 col-xs-12 column team-member">
                <article class="column-inner hvr-float-shadow">
                    <figure class="image-box">
                        <a href="#"><img src="/static/images/resource/TALYK-145.jpg" alt=""
                                title="Volunteer"></a>

                    </figure>
                    <!-- <div class="lower-part">
                        <h3>Kennedy Wachira Ndirangu </h3>
                        <div class="info">
                            <p>Head of Human Resource</p>
                            <p><span class="icon flaticon-letter110"></span> <strong>E-Mail</strong> : <a
                                    href="mailto:johndoe@email.com">johndoe@email.com</a></p>
                        </div>
                        <div class="social-links">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div> -->
                </article>
            </div>

            <!--Team Member-->
            <div class="col-md-3 col-sm-6 col-xs-12 column team-member">
                <article class="column-inner hvr-float-shadow">
                    <figure class="image-box">
                        <a href="#"><img src="/static/images/resource/TALYK-225.jpg" alt=""
                                title="Volunteer"></a>

                    </figure>
                    <!-- <div class="lower-part">
                        <h3>Flomina Rugendo</h3>
                        <div class="info">
                            <p>Member</p>
                            <p><span class="icon flaticon-letter110"></span> <strong>E-Mail</strong> : <a
                                    href="mailto:johndoe@email.com">johndoe@email.com</a></p>
                        </div>
                        <div class="social-links">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div> -->
                </article>
            </div>

            <!--Team Member-->
            <div class="col-md-3 col-sm-6 col-xs-12 column team-member">
                <article class="column-inner hvr-float-shadow">
                    <figure class="image-box">
                        <a href="#"><img src="/static/images/resource/team-2.jpeg" alt=""
                                title="Volunteer"></a>

                    </figure>
                    <!-- <div class="lower-part">
                        <h3>Winnie Njeri Kariithi</h3>
                        <div class="info">
                            <p><span class="icon flaticon-telephone114"></span> <strong>Mobile</strong> : +49 123 456
                                789</p>
                            <p><span class="icon flaticon-letter110"></span> <strong>E-Mail</strong> : <a
                                    href="mailto:johndoe@email.com">johndoe@email.com</a></p>
                        </div>
                        <div class="social-links">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                        </div>
                    </div> -->
                </article>
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Contact <strong>us</strong></h2>
        </div>
        <div class="sec-text">
            <p></p>
        </div>
        <div class="form">

            <form id="contact-form" method="post" action="#">
                <div class="row clearfix">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-name"><span
                                        class="icon flaticon-user168"></span></label></div>
                            <div class="field-outer">
                                <input type="text" name="username" id="your-name" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-email"><span
                                        class="icon flaticon-new100"></span></label></div>
                            <div class="field-outer">
                                <input type="email" name="email" id="your-email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-subject"><span
                                        class="icon flaticon-edition2"></span></label></div>
                            <div class="field-outer">
                                <input type="text" name="subject" id="your-subject" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group-inner">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                        <button class="hvr-bounce-to-right" type="submit" name="submit-form">Send Message &ensp; <span
                                class="icon flaticon-envelope32"></span></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}