{% extends 'ngo/base.html' %}
{% block content %}
<section class="static-banner default-banner">
                        
    <div class="window-size" style="background-image:url(./static/images/main-slider/image-3.jpg);">
        <div class="auto-container">
            <div class="box-inner">
                <div class="static-content">
                  <div class="big-title"><div class="with-bg"><h2>“I have found that among its other benefits,</h2></div></div>
                  <div class="text"><div class="with-bg"><h4>giving liberates the soul of the giver."</h4></div></div>
                  <div class="links-box"><a href="#" class="theme-btn light-btn">DONATE</a> &ensp; <a href="#" class="theme-btn dark-btn">CHECK OUR PROGRAM</a></div>
              </div>
            </div>
        </div>
      </div>
      
</section>
<section class="tri-column-fluid">
    <div class="tri-column-outer clearfix">

        <!--Column-->
        <article class="column default-column">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h3>How can I donate to TALKY...?</h3>
                <h4>Register as a member with a fee of KSh. 2000 per Year.</h4>
                <div class="text">Through registering as a member, you not only donate to Touch a Life Kenya Youth, but also you become a part of our community to give back to the society.</div>
                <div class="text-right link"><a href="#" class="theme-btn btn-style-one">Register Membership</a></div>
            </div>
        </article>

        <!--Carousel Column-->
        <article class="column carousel-column" style="background-image:url(images/background/carousel-bg.jpg);">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h3>Donate Directly to our Bank Account..</h3>
                <h4>No one has ever become poor by giving</h4>
                <div class="text">We accept direct donations through our official bank Account. Commercial Bank: Pay Bill 522522 A/c : 1296721582</div>
                <div class="text-right link"><a href="#" class="theme-btn btn-style-one">Make a Donation</a></div>
            </div>

        </article>

        <!--Progress Column-->
        <article class="column progress-column">
            <div class="pattern-layer"></div>

            <div class="column-inner">
                <h2>Commit to Annual Giving...</h2>
                <h4 class="museo-font">Walk with us throughout the journey by commiting to annual giving open to any amount of your choosing. </h4>
                <br><br>
                <div class="text-right link"><a href="#" class="theme-btn btn-style-two">Register Annual Giving</a></div>
            </div>
        </article>
    </div>
</section>
<section class="two-column no-padd-bottom">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Text Column-->
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="sec-title">
                        <h2>Take part in growing  <strong>the society</strong></h2>
                    </div>
                    <div class="text">
                        <p>
                            Touch a Life Kenya Youth was born from the unshakable conviction that every human being has a priceless value and that
                            each human being deserves a descent life free from ignorance, poverty and disease. All people of good
                            will in the world endeavor to mitigate these three evils through their charitable giving. Touch a life
                            Kenya Youth does not purport to eradicate these problems from all humanity; rather, it endeavors to
                            address the problem of poverty among the youth. The Organization aims to address the situation that
                            has condemned the young person(s) to a life of poverty be it educational, financial, social etc...
                        </p>
                    </div>
                    <br>
                    <div class="link text-right"><a href="{% url 'about' %}" class="theme-btn read-more"><span class="fa fa-angle-right"></span> &ensp;Read More</a></div>
                </div>
            </div>

            <!--Video Column-->
            <div class="col-md-6 ">
                <img src="/static/images/main-slider/image-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="parallax-section" style="background-image:url(../static/images/parallax/image-1.jpg);">
    <div class="auto-container">
        <div class="text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
            <h2>Are you ready to volunteer?</h2>
            <h3>start one of our programm today and help people in need</h3>
            <div class="line"></div>
            <a class="theme-btn light-btn" href="#">BECOME A VOLUNTEER</a>
            <a class="theme-btn light-btn" href="#">MAKE A DONATION</a>

        </div>
    </div>
</section>
<section class="featured-project two-column">
    <div class="auto-container">

        <div class="sec-title clearfix">
            <h2 class="pull-left">ABOUT THE DIRECTOR  <strong>DR. TERESA WAMBUI</strong></h2>
            <div class="pull-right link"><a href="#"><span class="fa fa-angle-right"></span>&ensp; See All</a></div>
        </div>
        <div class="row clearfix">

            <!--Image Column-->
            <div class="col-md-7 col-sm-6 col-xs-12">
                <figure class="image-box">
                    <a href="#"><img src="/static/images/resource/featured-image-1.png" alt="" title="Volunteer"></a>
                    <div class="icon-box"><a href="#" class="heart-icon img-circle"><span class="flaticon-favorite21"></span></a></div>
                </figure>
            </div>

            <!--Text Column-->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="text-column">
                    <h3>Help to for a better education in Kenya</h3>
                    <div class="text">
                        <p>
                            Dr. Teresa Wambui is originally from Naivasha, Nakuru County. She is has been a lecturer of Philosophy
                            at Chuka University for last twelve Years. After completing her Doctoral studies in Duquesne University
                            in the United States she came back to Kenya driven by her urge to share her knowledge with Kenyan
                            students. Dr. Wambui's academic journey is an amazing one.
                            After completing her Primary education in 1974 that was class seven then, she was unable to proceed to
                            High School for lack of school fees. She went for a tailoring training, courtesy of a well-wisher. It was not
                            until 1982, that is, seven years after Primary School education did she get an opportunity to start her High
                            School education, courtesy of Little Sisters of St. Francis. After completion of High School education she
                            got a Scholarship to study in the United States, courtesy of Marywood University. This was followed by
                            two more Scholarships from Duquesne University in the USA where she studied for MA in Systematic
                            Theology and Ph.D in Philosophy....
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="help-us" style="background-image:url(images/background/helpus-bg.jpg);">
    <div class="auto-container">
        <h2>Our Objectives</h2>
        <div class="row clearfix">

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-favorite7"></span></div>
                    <h3>What we Envision</h3>
                    <p>To be afertile soil in which the dreams of many young people can grow and flourish</p>
                </div>
            </article>

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-donation2"></span></div>
                    <h3>Our Mission</h3>
                    <p>To cultivate a calture of giving to a noble cause as to give a chance to the youth whose abilities are wasting away in the cracks of poverty</p>
                </div>
            </article>
        </div>

        <div class="row clearfix">
            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-hand-1"></span></div>
                    <h3>Our Main Objective is..</h3>
                    <p>to invite thos willing to partner with Touch a Life Kenya Youth organization to cultivate a culture
                        of giving back to the society creating an enabling environment where the youth can realize their true potential.
                    </p>
                </div>
            </article>

            <article class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                <div class="text-column">
                    <div class="icon img-circle"><span class="flaticon-lightbulb14"></span></div>
                    <h3>Our Core Values</h3>
                    <p>Giving <br>Transforming Lives <br> Integrity</p>
                </div>
            </article>

        </div>
    </div>
</section>
<section class="contact-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Contact <strong>us</strong></h2>
        </div>
        <div class="sec-text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="form">

            <form id="contact-form" method="post" action="http://world5.commonsupport.com/html/volunteer/sendemail.php">
                <div class="row clearfix">
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-name"><span class="icon flaticon-user168"></span></label></div>
                            <div class="field-outer">
                                <input type="text" name="username" id="your-name" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-email"><span class="icon flaticon-new100"></span></label></div>
                            <div class="field-outer">
                                <input type="email" name="email" id="your-email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group-inner">
                            <div class="icon-box"><label for="your-subject"><span class="icon flaticon-edition2"></span></label></div>
                            <div class="field-outer">
                                <input type="text" name="subject" id="your-subject" placeholder="Subject">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group-inner">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                        <button class="hvr-bounce-to-right" type="submit" name="submit-form">Send Message &ensp; <span class="icon flaticon-envelope32"></span></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}